
# /
/Debug
/ship
/*.ncb
/*.suo

# /amblibcpp/
/amblibcpp/Debug
/amblibcpp/ship
/amblibcpp/*.user

# /amblibcppTest/
/amblibcppTest/Debug
/amblibcppTest/ship
/amblibcppTest/*.user

Release/
amblibcpp.2013.sdf
amblibcpp/Release/
amblibcppStub/bin/
amblibcppStub/obj/
amblibcppTest/Release/
amblibcppTestCS/obj/
ipch/

