.idea/amblibcpp.iml
.idea/misc.xml
.idea/modules.xml
.idea/workspace.xml

AmbLibcpp/Natives/

# /
/Debug
/ship
/*.ncb
/*.suo

# /AmbLibcpp/
/AmbLibcpp/Debug
/AmbLibcpp/ship
/AmbLibcpp/*.user

AmbLibcpp/bin/
AmbLibcpp/obj/


# /AmbLibcppTest/
/AmbLibcppTest/Debug
/AmbLibcppTest/ship
/AmbLibcppTest/*.user



Release/
AmbLibcpp.2013.sdf
AmbLibcpp/Release/
AmbLibcppStub/bin/
AmbLibcppStub/obj/
AmbLibcppTest/Release/
AmbLibcppTestCS/obj/
AmbLibcppTestCS/bin/
ipch/

AmbLibcpp/x64/
AmbLibcppTest/x64/
x64/

AmbLibcpp.2013.opensdf

